/* === GENERAL === */
body {

	background: #49a1f9;
	color: white;
	font-family: 'Avenir Next', 'Avenir', Helvetica, Avenir;

}

section {

	padding-top: 40px;
	padding-bottom: 40px;

}

/* === SITE HEADER === */
#site-header {

	text-align: center;

}

#site-header h1 {

	font-size: 3.5em;

}

/* === CIRCLES === */
.circle {

	height: 45px;
	width: 45px;
	text-align: center;
	display: inline-block;
	line-height: 40px;
	padding: 3px 7px;
	border-radius: 50%;
	background: white;
	border: none;
	color: #49a1f9;
	text-decoration: none;

}

.circle:hover {

	text-decoration: none;
	color: #49a1f9;
	cursor: pointer;

}

/* === MODAL === */
#myModal h2 {

	color: #49a1f9;

}

.btn-info {

	background: #49a1f9;
	border: 1px solid #4395e8;

}

.btn-info:hover {

	background: #4395e8;
	border: 1px solid #4395e8;

}

.btn-info:focus {

	background: #4395e8;
	border: 1px solid #4395e8;

}

.btn-success {

	background: none;
	color: white;
	border: 2px solid white;

}

.btn-success:hover {

	background: white;
	color: #49a1f9;
	border: 2px solid white;

}

/* === ITEMS === */
#items {

	font-size: 1.7em;

}

#items table th {

	font-weight: 600;

}

.table > tbody > tr:first-child > td {

    border: none;

}

.table > tbody > tr > td {

	border-top: 1px solid rgba(255, 255, 255, 0.25);

}
#container {
  margin: 20px;
  width: 400px;
  height: 8px;
  position: relative;
}
